@model TestePratico.Models.ContatoViewModel

@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="AdicionarContato" method="post">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Registro.Nome" class="form-control" placeholder="Digite o Nome">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" asp-for="Registro.Telefone" class="form-control" placeholder="Digite o Telefone">
        </div>
        <div class="form-group">
            <label for="celular">Celular</label>
            <input type="text" asp-for="Registro.Celular" class="form-control" placeholder="Digite o Celular">
        </div>

        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Celular</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (ContatoModel contato in Model.Lista)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <th scope="row">@contato.Nome</th>
                        <td>@contato.Telefone</td>
                        <td>@contato.Celular</td>
                        <td>
                            <a role="button" class="btn btn-primary" asp-controller="Home" asp-action="ExcluirContato" asp-route-id="@contato.Id">Excluir</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>